<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify <strong>6</strong> categories of waste!!</div>
    <p>
      Identify six classes- <strong>cardboard</strong>, <strong>paper</strong>, <strong>metal</strong>, <strong>trash</strong>, <strong>plastic</strong>, <strong>glass</strong><br>
      <br>
      <p><strong>Model link:</strong> <a href="https://github.com/ParthJai/trashnet" target='_blank'>https://github.com/ParthJai/trashnet</a></p>
      <p><strong>Web app link:</strong> <a href="https://github.com/ParthJai/fastai-v3" target='_blank'>https://github.com/ParthJai/fastai-v3</a></p>
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='cardboard-label'>
        <label id='cardboard-label'></label>
      </div>
      <div class='glass-label'>
        <label id='glass-label'></label>
      </div>
      <div class='paper-label'>
        <label id='paper-label'></label>
      </div>
      <div class='plastic-label'>
        <label id='plastic-label'></label>
      </div>
       <div class='trash-label'>
        <label id='trash-label'></label>
      </div>
      <div class='metal-label'>
        <label id='metal-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
